<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Login and Sessions Signup</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
</head>
<body>
<div class="form-container">
    <p class="form-geader">
        Sign Up
    </p>

    <form method="POST">
        <label>Username:</label>
        <input type="text" name="username"><br>
        <label>Password:</label>
        <input type="text" name="password"><br>
        <label>Email:</label>
        <input type="text" name="email"><br>
        <input type="submit" val>
    </form>

</div>
</body>
</html>