<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>User Login and Sessions</title>
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/static/js/my_app.js"></script>
</head>
<body>
<div class="form-container" ng-controller="myController">
    <p class="form-header">User Profile</p>

    <form method="POST" action="/user/update">
        <label>Username:</label>
        <input type="text" name="username" ng-model="user.username" disabled>
        <label>Email</label>
        <input type="text" name="email" ng-model="user.email"><br>
        <label>Favorite Color</label>
        <input type="text" name="color" ng-model="user.color">
        <input type="submit" value="Save">
    </form>
    <form method="POST" action="/user/delete">
        <input type="submit" value="Delete User">
    </form>
    <hr>
    <%= msg %>
    {{error}}

</div>
</body>
</html>